svg {
    padding-right: 5px;
}

.contact .mail  {
    border: solid 3px #D96B2B;
    margin: 15px;
    padding: 10px;
}

.contact .tel,.contact .adresse  {
    border: solid 3px #D96B2B;
    padding: 10px;
}

.contact svg {
    color: #D96B2B;

}

.rejoindre button {
    background-color: #D96B2B;
    border: none;
    border-radius: 20px;
    height: 60px;
    width: 245px;
}

.rejoindre a {
    color: white;
}

#carre {
    height: 60px;
    width: 60px;
    position: relative;
    margin: 0 auto;
    top: -12px;
    background: #F3DFAC;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

/*---------Responsive------*/

@media screen and (max-width: 3000px) {
    .svg_decouvrez g {
        fill: #FFFFFF;
    }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
    .svg_decouvrez g {
        fill: black;
    }
}
@media screen and (max-width: 480px) {

}