html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    scroll-behavior: smooth;
}
/*----------Page Association---------*/

.map {
    width: 100%;
    height: 500px;
    margin-top: 50px;
}

.contact h4, .contact p {
    text-align: center;
}

.tel a {
    display:block;
    width:130px;
    margin:0 auto;
}

.adresse a {
    display:block;
    text-align: center;
}

.svg_mail, .svg_tel {
    width: 50px;
    margin: 0 auto;
}

.svg_adresse {
    width: 36px;
    margin: 0 auto;
}

/*Formulaire contact-*/



.form_contact h2 {
    margin-top: 0;
    padding-top: 15px;
    margin-bottom: 5px;
}

.h2_form {
    width: 170px;
    border-bottom: 3px black solid;
    margin: 0 auto 15px auto ;

}

.form_contact input, .form_contact textarea {
    background-color: #4E94BF;
    border: none;
    color: black;
}

::placeholder {
    color: #000000;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #000000;
}

::-ms-input-placeholder {
    color: #000000;
}

#contact .prenom, #contact .nom, #contact .adresse, #contact .code_postal, #contact .ville, #contact .mail, #contact .tel {
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    resize: vertical;
    border-bottom: 1px black solid;
}

#contact .msg {
    padding: 20px;
    margin: 0 auto 45px auto;
    resize: vertical;
    width: 80%;
    height: 150px;
    border-bottom: 1px black solid;
}

#contact {
    padding:20px;
    height: 670px;
    margin:0 auto;
}

/*---*/


.article_1, .article_2 {
    background-color: white;
}

.envoyer {
    margin: 0 auto;
    position: relative;
    width: 50px;
}

.envoyer svg {
    color: #3773A3;
    margin: 15px;
}

.envoyer button {
    border: none;
    background-color: #4E94BF;
    width: 0;
    height: 0;
}

/*--------*/

/*----------Présentation---------*/

.presentation h1 {
    width: 260px;
    border-bottom: 3px #ffffff solid;
    margin: 0 auto 50px auto ;
    text-align: center;
    padding-bottom: 10px;
    font-size: 25px;
}

.presentation p {
    text-align: center;
    font-size: 18px;
    margin: 20px 30px 40px 30px;
}

.presentation svg {
    fill : #FFFFFF;
    padding: 18px;
}

.fleche {
    margin: 0 auto;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 150px;
    border: none;
    background-color: #A6A0A0;
}
/*--------*/

/*----------Partie découvrez (page communes & liens)---------*/

.degrade {
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(#000000, #0E486D , #064A74);
}

.decouvrez svg {
    width: 90px;
    height: 90px;
    margin: 0 auto;
}

.svg_decouvrez {
    margin: 0 auto;
    width: 90px;
}

.decouvrez{
    background-color: white;
    border-radius: 20px;
    margin: 0 auto 20px auto;
    padding: 30px 10px 20px 10px;
}

.decouvrez a {
    display:block;
    text-align:center;
    padding: 2px 5px 2px 5px;
    text-decoration: underline;
}

.decouvrez h1 {
    text-align: center;
    font-size: 40px;
    padding: 0 15px 0 15px;
}

.presentation {
    position: relative;
    top: 200px;
}

.logo {
    width: 187px;
    margin: 0 auto 40px auto;
}

#csv {
    text-align: center;
}

/*----------Pages liens---------*/
.liens_container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px;
}

#liens {
    background: linear-gradient(#D96B2B, #D8AF97);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: space-around;
    width: 330px;
    height: 230px;
    border-radius: 22px;
    margin: 20px 10px;
}

.liens_container svg {
    color: white;
    padding-right: 15px;
}

.liens_container a {
    color: white;
}

.liens_container button {
    background-color: rgba(52, 51, 51, 0.5);
    border: none;
    padding: 10px;
    border-radius: 22px;
    width: 120px;
}

.center {
    margin: 0 auto;
    width: 120px;
}

.liens_container p {
    padding: 15px;
    margin: 0 auto;
    width: 200px;

}

#lien_7 {
    padding-bottom: 15px;
}

/*----------Pages Communes---------*/
#communes {
    background-color: white;
    width: 350px;
    border-radius: 20px;
    margin: 30px 20px;
    padding: 20px 10px 20px 10px;
}

.img_ville {
    margin: 0 auto;
    width: 220px;
    height: 150px;
    padding-top: 10px;
}

.img_ville img {
    width:100%;
    height: 100%;
}

#h_communes {
    color: #D96B2B;
    background-color: #FFFFFF;
    padding: 10px 20px 10px 20px;
    border-radius: 14px;
    width: 90px;
    position: relative;
    top: -25px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}

#h_modale {
    color: #D96B2B;
    background-color: #FFFFFF;
    padding: 10px 20px 10px 20px;
    border-radius: 14px;
    width: 90px;
    position: relative;
    top: -40px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}


#communes_texte {
    text-align: center;
    padding: 0 20px 20px 20px;
}

.lire button {
    background-color: #2F558E;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 22px;
    width: 140px;
    font-family: Lato;
    font-weight: 700;
}

.lire {
    margin: 0 auto 10px auto;
    width: 140px;
}
#container_communes, #container_decouvrez{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px;
}

/*---------actualités------*/
#actualites{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    border-radius: 22px;
    margin: 50px auto;
    padding: 30px 0;
}

.img_actualite {
    width: 40%;
    height: 100%;
}

.img_actualite, .texte {
    display: inline-block;
}

.texte {
    width: 50%;
    padding: 0 40px 20px 0;
    display: flex;
    flex-direction: column;
}

.container_actualites {
    padding: 20px 0 30px 0;
    background-color: #EDFCEB;
}

.img_actualite img {
    width: 100%;
    height: 100%;
    border-radius: 22px;
}

.cercle, .h2_texte{
    display: inline-block;
}

.cercle {
    margin-right: 10px;
}

.logo_actu {
    width: 100px;
    margin: 10px auto 20px auto;
}

.contenu-bulletin {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*bulletins*/
.container_bulletins {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px;
}

#bulletins {
    width: 80%;
    background-color: white;
    margin: 0 auto 50px auto;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.11);
    position: relative;
    top: 40px;
    padding-bottom: 20px;
}

#bulletins .cercle_h2 {
    padding: 20px 0 0 50px;
}

.img_bulletins {
    width: auto;
    float: right;
    height: 370px;
    margin-right:50px;
}

.img_bulletins img {
    width: 100%;
    height: 100%;
}

.texte_bulletin {
    float: left;
    margin: auto 0;
    display: flex;
    flex-direction: column;
}


.acheter button {
    background-color: #D96B2B;
    color: #FFFFFF;
    border: none;
    padding: 10px 30px 10px 10px;
    border-radius: 12px;
    width: 140px;
    font-family: Lato;
    font-weight: 700;
    height: 45px;
}

.acheter {
    margin-top: 20px;
}

/*---------Press book------*/
.press_book {
    width: 245px;
    height: 325px;
    border-radius: 22px;
    margin: 20px 10px;
}

#container_press_book {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px;
}

.img_pb {
    border-radius: 22px;    background: linear-gradient(#5996b0, #064A74);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.img_pb button {
    background-color: rgba(52, 51, 51, 0.5);
    border: none;
    padding: 15px;
    border-radius: 15px;
    color: white;
    width: 150px;
    margin-top: 15px;
}

.img_pb a {
    color: white;
}

.img_pb h4 {
    color: white;
    margin: 0 auto;
    font-size: 70px;
}

/*--------Editions---------*/
.bouton button{
    background-color: #D96B2B;
    border: none;
    padding: 0 30px;
    border-radius: 12px;
    width: 260px;
    height: 60px;
}

.bouton a  {
    color: #FFFFFF;
    font-family: Lato;
    font-weight: 700;
    height: 45px;
}

.bouton {
    margin: 20px;
}

.categorie {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px auto;
    flex-wrap: wrap;
    width: 90%;
}

/*---------Responsive------*/

@media screen and (max-width: 3000px) {
    .association, .contact {
        display: inline-block;
    }

    .association {
        width: 50%;
        float: left;
        border-right: solid  2px #A6A0A0;
        padding: 0 40px 0 30px;
    }

    .contact {
        width: 50%;
        margin: 0 15px 20px 15px;
    }

    .row {
        flex-direction: row;
        display: flex;
        margin-bottom: 20px;
    }

    .adresse, .tel {
        width: 50%;
        margin: 15px;
    }

    .form_contact {
        box-sizing : border-box;
        background-color:#4E94BF;
        padding:20px 20px 5px 20px;
        width: 100%;
        height: 560px;
        max-width: 768px;
        margin:40px auto 60px auto;
    }


    .article {
        background-color: #064A74;
        padding: 50px 100px;
    }


    .tel a {
        display:block;
        width:164px;
        margin:0 auto;
    }

    .rejoindre p {
        padding: 0 130px 15px 130px;
    }

    .img_rejoindre, .texte_rejoindre {
        display: inline-block;
    }

    .img_rejoindre {
        float: right;
        width: 80%;
        height: 500px;
        position: absolute;
        right: 0;
    }

    #rejoindre {
        width: 80%;
        position: absolute;
        z-index: -1;
        right: 0;
        height: 100%;
    }

    .button {
        width: 245px;
        margin: 0 auto;
    }

    .texte_rejoindre {
        background-color: #d6e7d4;
        padding-top: 10px;
        padding-bottom: 75px;
        width: 60%;
        float: left;
        margin: auto 0 auto 100px;
        height: 200px;
    }


    .rejoindre {
        height: 500px;
        display: grid;
        margin-bottom: 50px;
    }

    .rejoindre h2, .form_contact h2, .rejoindre p {
        text-align: center;
    }

    .image_background {
        background-image: url("../../img/bg_2.png");
        background-color: black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        width: 100%;
        height: 1000px;
        position: relative;
    }

    .decouvrez{
        background-color:transparent;
        border-radius: 20px;
        margin: 0 auto 20px auto;
        padding: 30px 10px 20px 10px;
    }

    .decouvrez a {
        display: none;
    }

    .decouvrez h1 {
        color: white;
    }

    .decouvrez svg {
        color: white;
    }

    .presentation p {
        font-size: 22px;
        margin: 20px 100px 40px 100px;
    }

    .presentation h1 {
        font-size: 26px;
    }

    #communes p {
        margin: 0 15px 15px 15px;
    }

    #communes{
        height: 400px;
    }

    .texte_bulletin {
        width: 50%;
        padding: 20px 0 20px 100px;
    }

    #pb {
        display: block;
        margin-left: 65px;
        margin-top: 35px;
    }
}

@media screen and (max-width: 1200px) {

    .tel a {
        display:block;
        width:143px;
        margin:0 auto;
    }

    .form_contact {
        height: 555px;
    }

    .texte_rejoindre {
        background-color: #d6e7d4;
        padding-top: 10px;
        padding-bottom: 75px;
        width: 60%;
        float: left;
        margin: auto 0 auto 100px;
        height: 200px;
    }

    .img_rejoindre {
        float: right;
        width: 60%;
        height: 400px;
    }

    .rejoindre {
        height: 400px;
        display: grid;
        margin-bottom: 50px;
    }

    #rejoindre {
        width: 100%;
        height: 100%;
    }

    .rejoindre p {
        padding: 0 100px 15px 100px;
    }

    .image_background {
        height: 820px;
        background-size: cover;
    }

    .texte_bulletin {
        width: 40%;
    }
}

@media screen and (max-width: 992px) {
    .article {
        background-color: #064A74;
        padding: 50px;
    }

    .form_contact {
        height: 550px;
    }

    .texte_rejoindre {
        background-color: #d6e7d4;
        padding-top: 10px;
        padding-bottom: 60px;
        width: 60%;
        float: left;
        margin: auto 0 auto 50px;
        height: 210px;
    }


    .rejoindre {
        height: 390px;
        display: grid;
        margin-bottom: 100px;
    }

    #rejoindre {
        width: 100%;
        height: 100%;
    }

    .presentation p {
        padding: 0 70px 15px 70px;
        font-size: 18px;
    }

    .presentation h1 {
        font-size: 22px;
    }

    #communes {
        height: 380px;
    }

    .texte_bulletin {
        width: 30%;
        padding: 20px 0 20px 50px;
    }

    .img_bulletins {
        margin-right: 0;
    }

    .texte {
        width: 40%;
    }

    .img_actualite {
        width: 50%;
        height: 100%;
    }

    .bouton button{
        padding: 0;
        width: 220px;
        height: 50px;
    }
}
@media screen and (max-width: 768px) {
    .association {
        width: 95%;
        border-right: none;
        padding: 0;
    }

    .contact {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .row {
        flex-direction: column;
        display: block;
    }

    .adresse, .tel {
        width: 90%;
        margin: 15px auto 15px auto;
    }

    .article {
        background-color: #064A74;
        padding: 20px;
    }

    .form_contact {
        margin: 0 auto;
    }

    .form_contact {
        box-sizing: border-box;
        background-color: #4E94BF;
        padding: 20px 20px 5px 20px;
        width: 100%;
        height: 550px;
        max-width: 768px;
        margin: 0 auto 60px auto;
    }

    .tel a {
        display: block;
        width: 130px;
        margin: 0 auto;
    }

    .rejoindre h2, .form_contact h2, .rejoindre p {
        text-align: center;
    }

    .rejoindre {
        background-color: #d6e7d4;
        padding-top: 10px;
        padding-bottom: 40px;
        margin-bottom: 0;
        display: grid;
        justify-items: center;
        height: 280px;
    }

    .rejoindre p {
        padding: 0 50px 15px 50px;
    }

    img#rejoindre {
        display: none;
    }

    .button {
        width: 245px;
        margin: 0 auto;
    }

    .texte_rejoindre {
        background-color: #d6e7d4;
        padding-top: 10px;
        padding-bottom: 40px;
        width: 100%;
        float: left;
        margin: auto 0;
    }

    .decouvrez {
        background-color: white;
        border-radius: 20px;
        margin: 0 auto 20px auto;
        padding: 30px 10px 20px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 350px;
    }

    .decouvrez a {
        display: block;
    }


    .decouvrez h1 {
        color: black;
    }

    .presentation p {
        font-size: 16px;
        margin: 20px 30px 40px 30px;
        padding: 0;
    }

    .presentation h1 {
        font-size: 20px;
    }

    .logo img {
        width: 125px;
        height: 125px;
    }

    .logo {
        width: 125px;
    }

    .img_bulletins {
        height: 300px;
    }


    .texte_bulletin {
        width: 70%;
        padding: 20px 0 20px 0;
    }

    .contenu-bulletin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #actualites{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texte {
        padding: 20px 0 0 0;
        width: 70%;
    }

    .img_actualite {
        display: none;
    }

    #pb {
        display: none;
    }

    #liens {
        background: none;
        background-color: white;
    }
}

@media screen and (max-width: 480px) {

        .image_background {
            background-image: url("../../img/BG.png");
        }
}


@media screen and (max-width: 438px) {

    #communes {
        height: 425px;
    }
}



