html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}
/*----------Page Association---------*/

.map {
    width: 100%;
    height: 500px;
    margin-top: 50px;
}

.contact h4, .contact p {
    text-align: center;
}

.tel a {
    display:block;
    width:130px;
    margin:0 auto;
}

.adresse a {
    display:block;
    text-align: center;
}

.svg_mail, .svg_tel {
    width: 50px;
    margin: 0 auto;
}

.svg_adresse {
    width: 36px;
    margin: 0 auto;
}

/*Formulaire contact-*/



.form_contact h1 {
    margin-top: 0;
    padding-top: 15px;
    margin-bottom: 5px;
}

.h1_form {
    width: 170px;
    border-bottom: 3px black solid;
    margin: 0 auto 15px auto ;

}

.form_contact input, .form_contact textarea {
    background-color: #4E94BF;
    border: none;
    color: black;
}

::placeholder {
    color: #000000;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #000000;
}

::-ms-input-placeholder {
    color: #000000;
}

#contact .prenom, #contact .nom, #contact .adresse, #contact .code_postal, #contact .ville, #contact .mail, #contact .tel {
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    resize: vertical;
    border-bottom: 1px black solid;
}

#contact .msg {
    padding: 20px;
    margin: 0 auto 45px auto;
    resize: vertical;
    width: 80%;
    height: 150px;
    border-bottom: 1px black solid;
}

#contact {
    padding:20px;
    height: 670px;
    margin:0 auto;
}

/*---*/


.article_1, .article_2 {
    background-color: white;
}

.envoyer {
    margin: 0 auto;
    position: relative;
    width: 50px;
}

.envoyer svg {
    color: #3773A3;
    margin: 15px;
}

.envoyer button {
    border: none;
    background-color: #4E94BF;
    width: 0;
    height: 0;
}

/*--------*/

/*----------Présentation---------*/

.presentation h1 {
    width: 260px;
    border-bottom: 3px #ffffff solid;
    margin: 0 auto 50px auto ;
    text-align: center;
    padding-bottom: 10px;
    font-size: 25px;
}

.presentation p {
    text-align: center;
    font-size: 18px;
    margin: 20px 30px 40px 30px;
}

.presentation svg {
    fill : #FFFFFF;
    padding: 18px;
}

.fleche {
    margin: 0 auto;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 150px;
    border: none;
    background-color: #A6A0A0;
}
/*--------*/

/*----------Partie découvrez (page communes & liens)---------*/

.degrade {
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(#000000, #0E486D , #064A74);
}

.decouvrez svg {
    width: 90px;
    height: 90px;
    margin: 0 auto;
}

.svg_decouvrez {
    margin: 0 auto;
    width: 90px;
}

.decouvrez{
    background-color: white;
    width: 80%;
    border-radius: 20px;
    margin: 0 auto 20px auto;
    padding: 30px 10px 20px 10px;
}

.decouvrez a {
    display:block;
    text-align:center;
    padding: 2px 5px 2px 5px;
    text-decoration: underline;
}

.decouvrez h1 {
    text-align: center;
    font-size: 40px;
    padding: 0 15px 0 15px;
}

.presentation {
    position: relative;
    top: 300px;
}

/*----------Pages liens---------*/
.liens {
    width: 80%;
    border-radius: 20px;
    margin: 20px auto 0 auto;
    padding: 10px;
}

#lien_2 {
    background-image: url("../../img/lien_2.png");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 230px;
    border-radius: 22px;
    margin: 22px 0 22px 0;
}

#lien_1 {
    background-image: url("../../img/lien_1.png");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 230px;
    border-radius: 22px;
    margin: 22px 0 22px 0;
}

#lien_3 {
    background-image: url("../../img/lien_3.png");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 230px;
    border-radius: 22px;
    margin: 22px 0 22px 0;
}

#lien_4 {
    background-image: url("../../img/lien_4.png");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 230px;
    border-radius: 22px;
    margin: 22px 0 22px 0;

}

#lien_5 {
    background-image: url("../../img/lien_5.png");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 230px;
    border-radius: 22px;
    margin: 22px 0 22px 0;

}

#lien_6 {
    background-image: url("../../img/lien_6.png");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 230px;
    border-radius: 22px;
    margin: 22px 0 22px 0;

}

#lien_7 {
    background-image: url("../../img/lien_7.png");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 230px;
    border-radius: 22px;
    margin: 22px 0 22px 0;

}

#lien_8 {
    background-image: url("../../img/lien_8.png");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 230px;
    border-radius: 22px;
    margin: 22px 0 22px 0;

}

#lien_9 {
    background-image: url("../../img/lien_9.png");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 230px;
    border-radius: 22px;
    margin: 22px 0 22px 0;

}

#lien_10 {
    background-image: url("../../img/lien_10.png");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 230px;
    border-radius: 22px;
    margin: 22px 0 22px 0;

}

#lien_11 {
    background-image: url("../../img/lien_11.png");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 230px;
    border-radius: 22px;
    margin: 22px 0 22px 0;

}

#lien_12 {
    background-image: url("../../img/lien_12.png");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 230px;
    border-radius: 22px;
    margin: 22px 0 22px 0;

}

#lien_13 {
    background-image: url("../../img/lien_13.png");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 230px;
    border-radius: 22px;
    margin: 22px 0 22px 0;

}

#lien_1 svg, #lien_2 svg, #lien_3 svg, #lien_4 svg,#lien_5 svg,#lien_6 svg,#lien_7 svg,#lien_8 svg,#lien_9 svg,#lien_10 svg,#lien_11 svg,#lien_12 svg, #lien_13 svg  {
    color: white;
    padding-right: 15px;
}

#lien_1 a, #lien_2 a, #lien_3 a, #lien_4 a,#lien_5 a,#lien_6 a,#lien_7 a,#lien_8 a,#lien_9 a,#lien_10 a,#lien_11 a,#lien_12 a, #lien_13 a  {
    color: white;
}

#lien_1 button, #lien_2 button, #lien_3 button, #lien_4 button,#lien_5 button,#lien_6 button,#lien_7 button,#lien_8 button,#lien_9 button,#lien_10 button,#lien_11 button,#lien_12 button, #lien_13 button  {
    background-color: rgba(52, 51, 51, 0.5);
    border: none;
    padding: 10px;
    border-radius: 22px;
    width: 120px;
}

.center {
    margin: 0 auto;
    width: 120px;
}

#lien_1 p, #lien_2 p, #lien_3 p, #lien_4 p,#lien_5 p,#lien_6 p,#lien_7 p,#lien_8 p,#lien_9 p,#lien_10 p,#lien_11 p,#lien_12 p, #lien_13 p  {
    padding: 40px;
    margin: 0 auto;
    width: 200px;

}

/*----------Pages Communes---------*/
#chavanatte, #courcelles, #courtelevant, #delle, #faverois, #florimont, #grandvillars, #jonchery, #lepuix_neuf, #rechesy, #suarce {
    background-color: white;
    width: 80%;
    border-radius: 20px;
    margin: 0 auto 20px auto;
    padding: 20px 10px 20px 10px;
}

.img_ville {
    margin: 0 auto;
    width: 220px;
    height: 150px;
    padding-top: 10px;
}

#chavanatte h3, #courcelles h3, #courtelevant h3, #delle h3, #faverois h3, #florimont h3, #grandvillars h3, #jonchery h3, #lepuix_neuf h3, #rechesy h3, #suarce h3 {
    color: #D96B2B;
    background-color: #FFFFFF;
    padding: 10px 20px 10px 20px;
    border-radius: 14px;
    margin: 0 auto;
    width: 75px;
    position: relative;
    top: -25px;
    font-size: 18px;
}

#chavanatte p, #courcelles p, #courtelevant p, #delle p, #faverois p, #florimont p, #grandvillars p, #jonchery p, #lepuix_neuf p, #rechesy p, #suarce p {
    text-align: center;
    padding: 20px;
}

.lire button {
    background-color: #2F558E;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 22px;
    width: 140px;
    font-family: Lato;
    font-weight: 700;
}

.lire {
    margin: 0 auto 10px auto;
    width: 140px;
}

/*---------Responsive------*/

@media screen and (max-width: 3000px) {
    .association, .contact {
        display: inline-block;
    }

    .association {
        width: 50%;
        float: left;
        border-right: solid  2px #A6A0A0;
        padding: 0 40px 0 30px;
    }

    .contact {
        width: 50%;
        margin: 0 15px 20px 15px;
    }

    .row {
        flex-direction: row;
        display: flex;
        margin-bottom: 20px;
    }

    .adresse, .tel {
        width: 50%;
        margin: 15px;
    }

    .form_contact {
        box-sizing : border-box;
        background-color:#4E94BF;
        padding:20px 20px 5px 20px;
        width: 100%;
        height: 560px;
        max-width: 768px;
        margin:40px auto 60px auto;
    }


    .article {
        background-color: #064A74;
        padding: 50px 100px;
    }


    .tel a {
        display:block;
        width:164px;
        margin:0 auto;
    }

    .rejoindre p {
        padding: 0 130px 15px 130px;
    }

    .img_rejoindre, .texte_rejoindre {
        display: inline-block;
    }

    .img_rejoindre {
        float: right;
        width: 80%;
        height: 500px;
        position: absolute;
        right: 0;
    }

    #rejoindre {
        width: 80%;
        position: absolute;
        z-index: -1;
        right: 0;
        height: 100%;
    }

    .button {
        width: 245px;
        margin: 0 auto;
    }

    .texte_rejoindre {
        background-color: #EDFCEB;
        padding-top: 10px;
        padding-bottom: 75px;
        width: 60%;
        float: left;
        margin: auto 0 auto 100px;
        height: 240px;
    }


    .rejoindre {
        height: 500px;
        display: grid;
        margin-bottom: 50px;
    }

    .rejoindre h1, .form_contact h1, .rejoindre p {
        text-align: center;
    }

    .image_background {
        background-image: url("../../img/bg_2.png");
        background-color: black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        width: 100%;
        height: 1000px;
        position: relative;
    }

    .decouvrez{
        background-color:black;
        width: 80%;
        border-radius: 20px;
        margin: 0 auto 20px auto;
        padding: 30px 10px 20px 10px;
    }

    .decouvrez a {
        display: none;
    }

    .decouvrez h1 {
        color: white;
    }

    .decouvrez svg {
        color: white;
    }

    .presentation p {
        font-size: 22px;
        margin: 20px 100px 40px 100px;
    }

    .presentation h1 {
        font-size: 26px;
    }
}

@media screen and (max-width: 1200px) {

    .tel a {
        display:block;
        width:143px;
        margin:0 auto;
    }

    .form_contact {
        height: 555px;
    }


    .texte_rejoindre {
        background-color: #EDFCEB;
        padding-top: 10px;
        padding-bottom: 75px;
        width: 60%;
        float: left;
        margin: auto 0 auto 100px;
        height: 230px;
    }

    .img_rejoindre {
        float: right;
        width: 60%;
        height: 400px;
    }

    .rejoindre {
        height: 400px;
        display: grid;
        margin-bottom: 50px;
    }

    #rejoindre {
        width: 100%;
        height: 100%;
    }

    .rejoindre p {
        padding: 0 100px 15px 100px;
    }

    .image_background {
        height: 820px;
        background-size: cover;
    }
}

@media screen and (max-width: 992px) {
    .article {
        background-color: #064A74;
        padding: 50px;
    }

    .form_contact {
        height: 550px;
    }

    .texte_rejoindre {
        background-color: #EDFCEB;
        padding-top: 10px;
        padding-bottom: 60px;
        width: 60%;
        float: left;
        margin: auto 0 auto 50px;
        height: 190px;
    }


    .rejoindre {
        height: 390px;
        display: grid;
        margin-bottom: 100px;
    }

    #rejoindre {
        width: 100%;
        height: 100%;
    }

    .presentation p {
        padding: 0 70px 15px 70px;
        font-size: 18px;
    }

    .presentation h1 {
        font-size: 22px;
    }
}
@media screen and (max-width: 768px) {
    .association {
        width: 95%;
        border-right: none;
        padding: 0;
    }
    .contact {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .row {
        flex-direction: column;
        display: block;
    }

    .adresse, .tel {
        width: 90%;
        margin: 15px auto 15px auto;
    }

    .article {
        background-color: #064A74;
        padding: 20px;
    }

    .form_contact {
        margin:0 auto;
    }

    .form_contact {
        box-sizing : border-box;
        background-color:#4E94BF;
        padding:20px 20px 5px 20px;
        width: 100%;
        height: 550px;
        max-width: 768px;
        margin:0 auto 60px auto;
    }

    .tel a {
        display:block;
        width:130px;
        margin:0 auto;
    }

    .rejoindre h1, .form_contact h1, .rejoindre p {
        text-align: center;
    }

    .rejoindre {
        background-color: #EDFCEB;
        padding-top: 10px;
        padding-bottom: 40px;
        margin-bottom: 0;
        display: grid;
        justify-items: center;
        height: 280px;
    }

    .rejoindre p {
        padding: 0 50px 15px 50px;
    }

    img#rejoindre {
        display: none;
    }

    .button {
        width: 245px;
        margin: 0 auto;
    }

    .texte_rejoindre {
        background-color: #EDFCEB;
        padding-top: 10px;
        padding-bottom: 40px;
        width: 100%;
        float: left;
        margin: auto 0;
    }

    .decouvrez{
        background-color: white;
        width: 80%;
        border-radius: 20px;
        margin: 0 auto 20px auto;
        padding: 30px 10px 20px 10px;
    }

    .decouvrez a {
        display: block;
    }


    .decouvrez h1 {
        color: black;
    }

    .presentation p {
        font-size: 16px;
        margin: 20px 30px 40px 30px;
    }

    .presentation h1 {
        font-size: 20px;
    }
}
@media screen and (max-width: 480px) {

    .image_background {
        background-image: url("../../img/BG.png");
    }

}