h1, h2, h3, h4 {
    font-family: Bebas Neue;
}

p, a {
    font-size: 16px;
    font-family: lato;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

/*----------menu---------*/
.menu a:hover {
    color: #D96B2B;
}

.menu a {
    font-weight: 700;
    font-family: "Bebas Neue";
    font-size: 50px;
}

/*----------Nos communes---------*/
.decouvrez a {
    color: #0008FF;
}

span {
    color: #D96B2B;
}
/*-------------------*/
li {
    list-style-type: none;
}

h4 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

h1 {
    font-size: 22px;
}

input, textarea {
    font-family: Lato;
    font-size: 16px;
}