h1, h2, h3, h4 {
    font-family: Bebas Neue;
    font-weight: 400;
}

p, a {
    font-size: 16px;
    font-family: lato;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

/*----------menu---------*/
.menu a:hover {
    color: #D96B2B;
}

.menu a {
    font-family: "Bebas Neue";
    font-size: 50px;
}

/*----------Nos communes---------*/
.decouvrez a {
    color: #0008FF;
}

span {
    color: #D96B2B;
}
/*-------------------*/
li {
    list-style-type: none;
}

h4 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

h1 {
    font-size: 22px;
}

input, textarea {
    font-family: Lato;
    font-size: 16px;
}

/*------Page liens-----*/

.liens p{
    font-size: 22px;

}

.liens a {
    font-size: 15px;
}

#lien_2 p, #lien_1 p, #lien_3 p, #lien_4 p, #lien_5 p, #lien_6 p , #lien_7 p, #lien_8 p, #lien_9 p, #lien_10 p, #lien_11 p, #lien_12 p, #lien_13 p {
    color: white;
    font-weight: bold;
}

.presentation h1 {
    color: white;
}

.presentation p {
    color: white;
}